
 {% extends 'base.html' %}
 {% block content %}
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Manly - North Steyne</title>
  </head>
  <body>

    
    <h1> My First Try Using Flask </h1>
    <p> Flask is Fun
    Hello world   
  
    </p>
    <p> Testing new paragraph </p>
    <div class="embed-responsive embed-responsive-1by1">

      <iframe class="embed-responsive-item" src="http://relaysydney03.surfit.com:57214/" allowfullscreen></iframe>
    </div>

    <html>
      <body>
       
      </body>
    </html>
    
    {% endblock %}