{% extends 'base.html' %}
{% block content %}

<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <meta charset="utf-8">
    <title>{% block title %} Manly - North Steyne{% endblock %}</title>

</head>
<body>
    <h1> Manly - North Steyne</h1>
    <script src="https://cdn.jsdelivr.net/npm/hls.js@latest"></script>
    <video id="video"  width="600" height="400" controls autoplay muted></video>

    <script>
    if(Hls.isSupported())
    {
        var video = document.getElementById('video');
        var hls = new Hls();
        hls.loadSource('https://cams.cdn-surfline.com/cdn-au/au-manlynorth/playlist.m3u8');
        hls.attachMedia(video);
        hls.on(Hls.Events.MANIFEST_PARSED,function()
        {
            video.play();
        });
    }
    else if (video.canPlayType('application/vnd.apple.mpegurl'))
    {
        video.src = 'https://cams.cdn-surfline.com/cdn-au/au-manlynorth/playlist.m3u8';
        video.addEventListener('canplay',function()
        {
            video.play();
        });
    }
    </script>


 </body>
</html>

{% endblock %}